<?xml version="1.0" encoding="utf-8"?>
<MeConfiguration>
    <Project>{{ project_name }}</Project>
    <Version>{{ version }}</Version>
    <Settings>
        {% for key, value in settings.items() %}
        <{{ key }}>{{ value }}</{{ key }}>
        {% endfor %}
    </Settings>
    <GeneratedBy>BIOS Portal (User: {{ user }})</GeneratedBy>
    <Timestamp>{{ timestamp }}</Timestamp>
</MeConfiguration>
